@tailwind base;
@tailwind components;
@tailwind utilities;

/* ***************************************************** custom scroll-bar ******************************************* */
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #48546e;
	border-radius: 100vh;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a0c0a9;
}
